In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 100)

In [3]:
df = pd.read_csv('napoleon_battles.csv')

In [8]:
df[df['element'] == 'Result'].head(8)

,Unnamed: 0,battle,element,first,second
3,3,siege_of_toulon,Result,French Republican victory,French Republican victory
11,11,battle_of_saorgio,Result,French victory,French victory
19,19,first_battle_of_dego,Result,French victory,French victory
27,27,13_vendémiaire,Result,Republican victory,Republican victory
35,35,battle_of_montenotte,Result,French victory,French victory
43,43,battle_of_millesimo,Result,French victory,French victory
51,51,second_battle_of_dego,Result,French victory,French victory
59,59,battle_of_ceva,Result,French victory,French victory

In [5]:
df.loc[391, 'first']

'French victory Armistice of Znaim Treaty of Schönbrunn End of the Fifth Coalition'

In [20]:
idx = df[df['element'] == 'Result'].index
df.loc[np.array(idx), 'outcome'] = df['first'].str.split('victory')
df['outcome'] = df['outcome'].fillna('')

In [22]:
df['outcome'] = df['outcome'].apply(lambda x: x[-1] if isinstance(x, list)  else x)

In [33]:
df[~(df['outcome']=='')].head(10)

,Unnamed: 0,battle,element,first,second,outcome
67,67,battle_of_mondovì,Result,French victory Armistice of Cherasco Withdrawa...,French victory Armistice of Cherasco Withdrawa...,Armistice of Cherasco Withdrawal of Sardinia ...
201,201,french_campaign_in_egypt_and_syria,Result,Anglo-Ottoman victory End of Mamluk rule in Eg...,Anglo-Ottoman victory End of Mamluk rule in Eg...,End of Mamluk rule in Egypt Formal end of the...
287,287,battle_of_ulm,Result,Decisive French victory France gains control o...,Decisive French victory France gains control o...,France gains control over Bavaria
295,295,battle_of_austerlitz,Result,French victory Treaty of Pressburg Effective e...,French victory Treaty of Pressburg Effective e...,Treaty of Pressburg Effective end of the Thir...
327,327,battle_of_friedland,Result,French victory Treaty of Tilsit End of Russian...,French victory Treaty of Tilsit End of Russian...,Treaty of Tilsit End of Russian hostilities t...
391,391,battle_of_wagram,Result,French victory Armistice of Znaim Treaty of Sc...,French victory Armistice of Znaim Treaty of Sc...,Armistice of Znaim Treaty of Schönbrunn End o...
439,439,battle_of_the_berezina,Result,see aftermath,see aftermath,see aftermath

In [ ]:
df.head()

,Unnamed: 0,battle,element,first,second,outcome
0,0,siege_of_toulon,Battle,Siege of Toulon,Siege of Toulon,0
1,1,siege_of_toulon,Date,29 August - 19 December 1793,29 August - 19 December 1793,0
2,2,siege_of_toulon,Location,"Toulon, France.mw-parser-output .geo-default,....","Toulon, France.mw-parser-output .geo-default,....",0
3,3,siege_of_toulon,Result,French Republican victory,French Republican victory,0
4,4,siege_of_toulon,Belligerents,French Republic,French Royalists French Federalists Great Bri...,0

In [ ]:
df['first'] = df['first'].str.replace(r'(?<=\d),(?=\d)', '', regex=True)
df['second'] = df['second'].str.replace(r'(?<=\d),(?=\d)', '', regex=True)

In [ ]:
df[df['element'] == 'Casualties and losses'].head(10)

,Unnamed: 0,battle,element,first,second
7,7,siege_of_toulon,Casualties and losses,1700 dead or wounded 9 ships of the line scutt...,1200 killed or wounded 700 killed or wounded ...
15,15,battle_of_saorgio,Casualties and losses,1500,3000
23,23,first_battle_of_dego,Casualties and losses,80-2000,200-1000
31,31,13_vendémiaire,Casualties and losses,90 dead and wounded,300 dead 2 executed
39,39,battle_of_montenotte,Casualties and losses,~200,3500 12 guns
47,47,battle_of_millesimo,Casualties and losses,Millesimo: 700 Cosseria: 1000,"Millesimo: 2-3000, 18 guns Cosseria: 988, 2 guns"
55,55,second_battle_of_dego,Casualties and losses,14 April: 1500 casualties 15 April: 938 casual...,14 April: 3000 casualties 15 April: 1757 casua...
63,63,battle_of_ceva,Casualties and losses,600,over 150
71,71,battle_of_mondovì,Casualties and losses,"600 killed, wounded or captured","1600 killed, wounded or captured 8 guns lost"
79,79,battle_of_fombio,Casualties and losses,450,"1568, 20 guns"

In [ ]:
df[(df['element'] == 'Casualties and losses') & (df['first'].str.contains(':'))]

,Unnamed: 0,battle,element,first,second
47,47,battle_of_millesimo,Casualties and losses,Millesimo: 700 Cosseria: 1000,"Millesimo: 2-3000, 18 guns Cosseria: 988, 2 guns"
55,55,second_battle_of_dego,Casualties and losses,14 April: 1500 casualties 15 April: 938 casual...,14 April: 3000 casualties 15 April: 1757 casua...
119,119,second_battle_of_castiglione,Casualties and losses,Battle: 1300,"Battle: 3000, 20 guns"
175,175,battle_of_valvasone,Casualties and losses,Valvasone: 500 Gradisca d'Isonzo: 0,"Valvasone: 700, 6 guns Gradisca d'Isonzo: 2500..."
205,205,french_campaign_in_egypt_and_syria,Casualties and losses,Ottoman Empire: 50000 killed and wounded,French Republic: 15000 killed and wounded
299,299,battle_of_austerlitz,Casualties and losses,Total: 8852 1288 killed 6991 wounded 573 captured,Total: 27000-36000 15000-16000 killed or wound...
307,307,battle_of_jena–auerstedt,Casualties and losses,"5000-6000 7052-7100 Total: 12600 killed, wou...","26000-27000 13000-15000 Total: 41000 killed,..."
315,315,battle_of_czarnowo,Casualties and losses,Czarnowo: 846-1400 Bieżuń: light Kołoząb: 518 ...,"Czarnowo: 853-1401 Bieżuń: 500, 5 guns Kołoząb..."
347,347,battle_of_teugen-hausen,Casualties and losses,Teugen-Hausen: 3862 Dünzling: 1084 Arnhofen: 4...,Teugen-Hausen: 4000 Dünzling: 233 Arnhofen: 22...
475,475,battle_of_the_nations,Casualties and losses,54000-80000 Official allied estimates: 22605 ...,60000-79000 38000 killed and wounded 30000-360...
603,603,battle_of_waterloo,Casualties and losses,Total: 33000 25000 killed or wounded 8000 capt...,"Total: 21700 Wellington's army: 15096 killed, ..."